//font kit

@font-face {
    font-family: 'black_jackregular';
    src: url('blackjack-webfont.eot');
    src: url('fontkit/blackjack-webfont.eot?#iefix') format('embedded-opentype'), url('fontkit/blackjack-webfont.woff2') format('woff2'), url('fontkit/blackjack-webfont.woff') format('woff'), url('fontkit/blackjack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comic_relief';
    src: url('fontkit/ComicRelief-webfont.eot');
    src: url('fontkit/ComicRelief-webfont.eot?#iefix') format('embedded-opentype'), url('fontkit/ComicRelief-webfont.woff2') format('woff2'), url('fontkit/ComicRelief-webfont.woff') format('woff'), url('fontkit/ComicRelief-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alegrya';
    src: url('fontkit/alegreya-regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'librebaskerville';
    src:url('fontkit/librebaskerville.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'alexbrush';
    src: url('fontkit/alexbrush.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'kaushanscript';
    src:url('fontkit/kaushanscript.otf');
    font-weight:normal;
    font-style:normal;
}
* {
    margin: 0;
    padding: 0;
}
//base for every html
body{
    padding-bottom:7vh;
}

a{
    text-decoration:none;
}
main{
    padding:30px;
}

h2{
    font-size:2.3rem;
    text-align:center;
}
h3{
    font-size:2.5rem;
    text-align:center;
}
h4 {
    font-size: 1.5em;
    text-align:center;
}

.row{
    width:100%;
    display:flex;
    flex-direction:row;
    p{
        line-height:2.5em;
    }
}

.rnd-circle{
    display:inline-block;
    height:0.1em;
    width:0.1em;
    border-radius:50%;
    background-color:$main-text;
    overflow-x:visible;
}