
header {
    background-color: $main-background;
    width: 100%;
    height: 10vh;
    

    h1 {
        color: $main-text;
        text-align:center;
        line-height:10vh;
        font-family:'arial black';
        font-size:3em;
        font-weight:bolder;
    }
}

footer{
   background-color:$main-background;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   position: sticky;
   bottom:0px; left:0px;
   width:100%;
   height:7vh;

   a{
       line-height:7vh;
       margin:0 10px;
       color:$main-text;
       font-family:'Arial';
       font-weight:bolder;
       text-decoration:none;
       &:hover{
           animation:shake 100ms infinite alternate;
       }

   }
}


#menu {
    &_1 {
        background-color: #fcdfdb;

        &_name {
            font-family: "black_jackregular";
            font-weight: bold;
            color: #3c1218;
        }

        &_title {
            font-family: 'Comic_relief';
            text-transform: uppercase;
            font-style: italic;
            color: #3c1218;
        }
    }

    &_2 {
        background-color: #fff5fe;

        &_name {
            font-family: alegrya;
            font-weight: bold;
            background: linear-gradient(90deg, #d8852e,#905bfd);
            background-clip: text;
            color: transparent;
        }

        &_title {
            font-family: librebaskerville;
            color: #d8852e;
        }
    }

    &_3 {
        background-color: #fff5fe;

        &_name {
            font-family: alexbrush;
            font-weight: bold;
            background: linear-gradient(90deg, #2b58e6,#0887fb);
            background-clip: text;
            color: transparent;
        }

        &_title {
            font-family: 'Comic_relief';
            font-style: italic;
            color: #0887fb;
        }
    }

    &_4 {
        background-color: #fdfffd;

        &_name {
            font-family: kaushanscript;
            font-weight: bold;
            background: linear-gradient(45deg, #3e923a, #beff7f 75% );
            background-clip: text;
            color: transparent;
            padding:3px;
        }

        &_title {
            font-family: 'Comic_relief';
            font-style: italic;
            background: linear-gradient(45deg, #72bf56, #72bf56 );
            background-clip: text;
            color: transparent;
            padding:3px;
        }
    }
}