



header {
    background-color: $main-background;
    width: 100%;
    height: 10vh;
    

    h1 {
        color: $main-text;
        text-align:center;
        line-height:10vh;
        font-family:'arial black';
        font-size:3em;
        font-weight:bolder;
    }
}

footer{
   background-color:$main-background;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   position: sticky;
   bottom:0px; left:0px;
   width:100%;
   height:7vh;

   div{
       line-height:7vh;
       margin:0 10px;
       color:$main-text;
       font-family:'Arial';
       font-weight:bolder;

   }
}
