//header 
header {
    background-color: $main-background;
    width: 100%;
    height: 10vh;
    

    h1 {
        color: $main-text;
        text-align:center;
        line-height:10vh;
        font-family:'arial black';
        font-size:3em;
        font-weight:bolder;
    }
}
//footer
footer{
   background-color:$main-background;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   position: fixed;
   bottom:0px; left:0px;
   width:100vw;
   height:7vh;

   a{
       line-height:7vh;
       margin:0 10px;
       color:$main-text;
       font-family:'Arial';
       font-weight:bolder;
       text-decoration:none;
       &:hover{
           animation:shake 100ms infinite alternate;
       }

   }
}

//inside the main menu cards settings
.menu {
    &_inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        opacity: 1;
        transition: all ease-in-out 0.5s;
    }

    &_box {
        width: 25%;
        height: 40vw;
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px 5px #BDBDBD;
        @include zoom_mainmenu;
    }

    &_name {
        font-size: 1.5em;
    }

    &_title {
        font-size: 2em;
    }

    &_img {
        width: 5em;
    }
}

//small titles in submenu with underline animations
.subtitle {
    position: relative;
    @include underline_animated;
    text-align:center;
}

//settings for submenus
.submenu {
    &_section {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }

    &_card {
        box-shadow: 0px 0px 5px 5px #BDBDBD;
        height: 100%;
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .row_main {
            width: 100%;
            justify-content: space-between;
            display: flex;
        }

        .row {
            justify-content: space-between;
            width: 80%;
            margin: auto;

            .submenu_trait {
                width: 30%;
            }

            h4 {
                @include note_enchantee;
                font-size: 2em;
                position: relative;
                @include underline_animated;
            }
        }
    }

    &_img {
        &_box {
            width: 3em;
        }
    }

    &_trait {
        width: 30%;
        height: 10px;
        align-self: center;

        &_reverse {
            transform: rotateY(180deg)
        }
    }

    &_footer {
        display: flex;
        flex-direction: row;
    }
}