.main_section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    min-height:100vh;
}
///card in main menu layout
#menu {
    &_1 {
        background-color: $submenu1bg;

        &_name {
            h2 {
                font-family: "black_jackregular";
                font-weight: bold;
                color: #3c1218;
            }
        }

        &_title {
            @include note_enchantee;
            text-transform: uppercase;
            font-style: italic;
        }
    }

    &_2 {
        background-color: $submenu2_3bg;

        &_name {
            h2 {
                @include chicfrancaise;
            }
        }

        &_title {
            font-family: librebaskerville;
            color: #d8852e;
        }
    }

    &_3 {
        background-color: $submenu2_3bg;

        &_name {
            h2 {
                font-family: alexbrush;
                font-weight: bold;
                background: linear-gradient(90deg, #2b58e6,#0887fb);
                background-clip: text;
                color: transparent;
            }
        }

        &_title {
            font-family: 'Comic_relief';
            font-style: italic;
            color: #0887fb;
        }
    }

    &_4 {
        background-color: $submenu4bg;

        &_name {

            h2 {
                font-family: kaushanscript;
                font-weight: bold;
                background: linear-gradient(45deg, #3e923a, #beff7f 75% );
                background-clip: text;
                color: transparent;
                padding: 5px;
            }
        }

        &_title {
            h3 {
                font-family: 'Comic_relief';
                font-style: italic;
                background: linear-gradient(45deg, #72bf56, #72bf56 );
                background-clip: text;
                color: transparent;
                padding: 3px;
            }
        }
    }
}

.menu_1_name {
    font-family: "black_jackregular";
    font-weight: bold;
    color: #3c1218;
}
// ""prochainement""
.next_box{
    margin:auto;
    text-align:center;
    background-color:$main-background;
    margin-bottom:20px;
    border-radius:5px;
    font-size:2em;
    color:$main-text;
    padding:1% 10%;
    font-family:Arial;

}


//sub menu layout

#submenu {
    &_card {
        &_1 {
            background-color:$submenu1bg;
        }
    }
}
.submenu {
    &_name {
        padding-top:1em;
        padding-bottom:1em;
        font-size: 4em;
        text-align:center;
    }

    &_content {
        &_1{
            font-family:'Comic Sans MS';

        }
        &_2 {
            &_orange {
                font-family: alegrya;
                font-size: 1.3em;
                color: $submenu_2_orange;
            }

            &_purple {
                font-family: alegrya;
                font-size: 1.3em;
                color: $submenu_2_purple;
            }

            &_blue {
                font-family: alegrya;
                font-size: 1.3em;
                color: $submenu_2_blue;
            }
        }

        &_3 {
            font-family: Comic_relief;
            font-size: 1.3em;
        }
    }

    &_3 {
        &_name {
            font-family: alexbrush;
            font-weight: bold;
            background: linear-gradient(90deg, #2b58e6,#0887fb);
            background-clip: text;
            color: transparent;
        }
    }

    &_4 {
        &_name {
            font-family: kaushanscript;
            font-weight: bold;
            background: linear-gradient(45deg, #3e923a, #beff7f 75% );
            background-clip: text;
            color: transparent;
            padding-right: 10px;
        }
    }
}

//submenu_2 layout
#submenu{
    &_card{
        &_2{
            row_main{
                width:100%;
            }
        }
    }
}
.submenu_2_name{

    @include chicfrancaise;
   
}
//subtitle for the menu2 html -> multiple color
#subtitle {
    &_1 {
        font-family: alegrya;
        color: $submenu_2_orange;
    }

    &_2 {
        font-family: alegrya;
        color: $submenu_2_purple;
    }

    &_3 {
        font-family: alegrya;
        color: $submenu_2_blue;
    }
}

.subtitle {
    &_3 {
        font-family: Comic_relief;
    }

    &_4 {
        font-family: Comic_relief;
        font-weight:normal;
    }
}



//mention_legale
#mention_legale {
    &_page {
        section {
            margin: 30px 0px;

            h1 {
                text-align: center;
            }

            p {
                line-height: 2em;
            }

            h2 {
                text-align: center;
            }
        }
    }
}