.main_section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    min-height:100vh;
}

.menu {
    &_inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        transform: scale(1);
        opacity: 1;
        transition: all ease-in-out 0.5s;

        &:hover {
            transform: scale(1.2);
            opacity: 0.5;
            transition:all ease-in-out 0.5s;
        }
    }

    &_box {
        width: 25%;
        height: 40vw;
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px 5px #BDBDBD;
    }

    &_name {
        font-size: 1.5em;
    }

    &_title {
        font-size: 2em;
    }

    &_img {
        width: 5em;
    }
}


.next_box{
    margin:auto;
    text-align:center;
    background-color:$main-background;
    margin-bottom:20px;
    border-radius:5px;
    font-size:2em;
    color:$main-text;
    padding:1% 10%;
    font-family:Arial;

}


//sub menu1 layout

#submenu {
    &_card {
        &_1 {
            background-color:$submenu1bg;
        }
    }
}
.submenu {
    &_name {
        line-height: 300px;
        font-size: 4em;
        vertical-align: center;
    }

    &_content {
        &_2 {
            &_orange {
                font-family: alegrya;
                font-size: 1.3em;
                color: $submenu_2_orange;
            }

            &_purple {
                font-family: alegrya;
                font-size: 1.3em;
                color: $submenu_2_purple;
            }

            &_blue {
                font-family: alegrya;
                font-size: 1.3em;
                color: $submenu_2_blue;
            }
        }

        &_3 {
            font-family: Comic_relief;
            font-size: 1.3em;
        }
    }

    &_3 {
        &_name {
            font-family: alexbrush;
            font-weight: bold;
            background: linear-gradient(90deg, #2b58e6,#0887fb);
            background-clip: text;
            color: transparent;
        }
    }

    &_4 {
        &_name {
            font-family: kaushanscript;
            font-weight: bold;
            background: linear-gradient(45deg, #3e923a, #beff7f 75% );
            background-clip: text;
            color: transparent;
            padding: 20px;
        }
    }
}

//submenu_2 layout
#submenu{
    &_card{
        &_2{
            row_main{
                width:100%;
            }
        }
    }
}
.submenu_2_name{

    @include chicfrancaise;
   
}
//subtitle for the menu2 html -> multiple color
#subtitle {
    &_1 {
        font-family: alegrya;
        color: $submenu_2_orange;
    }

    &_2 {
        font-family: alegrya;
        color: $submenu_2_purple;
    }

    &_3 {
        font-family: alegrya;
        color: $submenu_2_blue;
    }
}

.subtitle {
    &_3 {
        font-family: Comic_relief;
    }

    &_4 {
        font-family: Comic_relief;
        font-weight:normal;
    }
}