@media screen and (max-width:1315px){
    .menu_box{
        width:35%;
    }
}

@media screen and (max-width:960px){
    main{
        padding:0px;
    }
    .menu_box{
        width:95%;
        margin:auto;
        margin-top:30px;
        margin-bottom:30px;
        height:90vw;
    }
    .menu{
        &_name{
            h2{
                text-align:center;
            }
        }
    }
    .submenu {
        &_card {
            width: 100%;
            min-height: 95vh;
            box-shadow:none;
            padding:0px;
        }

        &_trait {
            display: none;
        }
    }
}