$main-background: #579c87;
$main-text: #fdcb46;

@mixin note_enchantee {
    color: #3c1218;
    font-family: 'Comic_relief';
}
$submenu1color: #3c1218 ;
$submenu1bg: #fcdfdb;
$submenu2_3bg: #fff5fe;
$submenu4bg: #fdfffd;

$submenu_2_orange: #c67412 ;
$submenu_2_purple: #a56799 ;
$submenu_2_blue: #6e4ccc ;


@mixin chicfrancaise {
    font-family: alegrya;
    font-weight: bold;
    background: linear-gradient(90deg, #d8852e,#905bfd);
    background-clip: text;
    color: transparent;
}



//underline animated
@mixin underline_animated {
    &:hover > span {
        transform: scaleX(1);
        transition: all 1s;
    }

    span {
        background-color: $submenu1color;
        transform-origin: left;
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 4px;
        transform: scaleX(0);
        border-radius:2px;
    }
}

//zoom effect on main menu
@mixin zoom_mainmenu {
    &:hover > div {
        transform: scale(1.1);
        opacity: 0.5;
        transition: all ease-in-out 0.5s;
    }
}